:root {

  /**
   * 主题色
   * -------------------------------------------------------------------------- */

  --vp-c-brand-1: rgba(72, 117, 39, 1);               /* 链接颜色、强调色 */
  --vp-c-brand-2: rgba(119, 194, 64, 1);              /* 链接、按钮 hover 颜色 */
  --vp-c-brand-3: rgba(194, 247, 156, 1);             /* 背景色、边框色 */
  --vp-c-brand-soft: rgba(150, 245, 81, 0.314);       /* 辅助色 */

  /**
   * 文本颜色
   * -------------------------------------------------------------------------- */

  --vp-c-text-1: rgba(60, 60, 67);                    /* 主要文本 */
  --vp-c-text-2: rgba(60, 60, 67, 0.78);              /* 次要文本 */
  --vp-c-text-3: rgba(60, 60, 67, 0.56);              /* 辅助文本 */

  /**
   * 背景色
   * -------------------------------------------------------------------------- */

  --vp-c-bg: #fff;                                    /* 主体背景 */
  --vp-nav-bg-color: #fff;                            /* 导航栏背景 */
  --vp-nav-screen-bg-color: #fff;                     /* 移动端导航栏 */
  --vp-local-nav-bg-color: #fff;                      /* 页面内导航栏 */
  --vp-sidebar-bg-color: #f6f6f7;                     /* 侧边栏背景 */
  --vp-code-block-bg: #f6f8fa;                        /* 代码块背景 */

  /**
   * 导航栏样式
   * -------------------------------------------------------------------------- */
  
   --vp-nav-logo-height: 80%;                          /* Logo 高度 */ 
}

[data-theme="dark"] {

  /**
   * 主题色
   * -------------------------------------------------------------------------- */

  --vp-c-brand-1: rgba(194, 247, 156, 1);             /* 链接颜色、强调色 */
  --vp-c-brand-2: rgba(119, 194, 64, 1);              /* 链接、按钮 hover 颜色 */
  --vp-c-brand-3: rgba(72, 117, 39, 1);               /* 背景色、边框色 */
  --vp-c-brand-soft: rgba(150, 245, 81, 0.314);       /* 辅助色 */

  /**
   * 文本颜色
   * -------------------------------------------------------------------------- */

  --vp-c-text-1: rgba(255, 255, 245, 0.86);           /* 主要文本 */
  --vp-c-text-2: rgba(235, 235, 245, 0.6);            /* 次要文本 */
  --vp-c-text-3: rgba(235, 235, 245, 0.38);           /* 辅助文本 */

  /**
   * 背景色
   * -------------------------------------------------------------------------- */

  --vp-c-bg: #1b1b1f;                                 /* 主体背景 */
  --vp-nav-bg-color: #1b1b1f;                         /* 导航栏背景 */
  --vp-nav-screen-bg-color: #1b1b1f;                  /* 移动端导航栏 */
  --vp-local-nav-bg-color: #1b1b1f;                   /* 页面内导航栏 */
  --vp-sidebar-bg-color: #161618;                     /* 侧边栏背景 */
  --vp-code-block-bg: #202127;                        /* 代码块背景 */
}

/* 添加导航链接样式 */
.vp-nav-links .vp-link {
  font-size: var(--vp-nav-link-font-size);
  font-weight: var(--vp-nav-link-font-weight);
}

/* artalk 评论框 适配暗黑模式 */
.theme-mode-dark #vuepress-plugin-vdoing-comment {
  --at-color-bg: --bodyBg;
  color: #ffffff;
  --at-color-font: #ffffff;
  --at-color-bg-transl: --bodyBg;
  --at-color-bg-grey: #373a40;
}
.theme-mode-dark
  #vuepress-plugin-vdoing-comment
  .atk-editor-plug-emoticons
  > .atk-grp-switcher
  > span:hover,
.atk-editor-plug-emoticons > .atk-grp-switcher > span.active {
  background: var(--at-color-bg-grey);
}
.theme-mode-dark
  #vuepress-plugin-vdoing-comment
  .atk-editor-plug-emoticons
  > .atk-grp-switcher {
  background: var(--at-color-bg-grey);
}

.search-wrapper{
  display: flex;
  align-items: center;
  justify-content: flex-start;
}